.container {
  display: flex;
  flex-direction: row;
  flex-flow: row;
}

.info {
  text-align: center;
  height: 100%;
  float: left;
}

.chart {
  overflow: visible;
  height: 100%;
  float:right;
}

.district {
	fill: #d3d3d3;
	stroke: white;
}

h1 {
  text-align: center;
}

.nav-bottom {
  width: 100%;
  text-align: center;
}
