.container {
  display: flex;
  flex-direction: row;
  flex-flow: row;
}

.info {
  text-align: center;
  height: 100%;
  float: left;
}

.chart {
  overflow: visible;
  height: 100%;
  float:right;
}

.district {
	fill: #d3d3d3;
	stroke: white;
}

h1 {
  text-align: center;
}

.nav-bottom {
  width: 100%;
  text-align: center;
}
/* Drop Down list */
.dropDown {
  background-color: #3498DB;
  color: aliceblue;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


/* DropDown List on hover and focus */
.dropDown:hover, .dropDown:focus {
  background-color: #2980B9;
}

/* The container <div> - needed the Drop Down content */
.dropdownB {
  position: relative;
  display: inline-block;
}

/* Drop down Content Hiden*/
.drop_con {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* inside the Drop Down */
.drop_con a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Color of dropdown on hover */
.drop_con a:hover {background-color: #ddd}

/* Show the Drop Down List */
.show {display:block;}